<!DOCTYPE html>
<br lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <ul class="timeline">
       <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="img-me" src="images/kotyk.jpg" alt="">
            </div>
           <div class="timeline-panel">
            <div class="timeline-body">
                    After graduating from the Ecole normale supérieure in Paris with Master degree in Mathematics I started to work in Quantitative Research at Qube Research and Technologies.
                QRT is a quantitative and systematic investment manager with offices in Hong Kong, London, Mumbai and Paris. You can visit its <a href="https://www.qube-rt.com/" target="_blank">website</a>.
            </div>
           </div>
       </li>
       <li class="timeline-inverted">
           <div class="timeline-image">
              <img class="img-me" src="images/8.jpg" alt="">
           </div>
           <div class="timeline-panel">
               <div class="timeline-body">
            Throughout the years I acquired strong mathematical base. I am a former IMO participant winning silver medals in the IMO 2012 and IMO 2013.
            During the last years of studies in Paris I have been mainly focusing on Probability Theory, Stochastic Processes and Data Science. My full CV can be found here.
               </div>
           </div>
       </li>
       <li class="timeline-inverted">
           <div class="timeline-image">
               <img class="img-me" src="images/2.jpg" alt="">
           </div>
           <div class="timeline-panel">
               <div class="timeline-body">
                   <p>I used to work on several research projects in Topological Dynamics with <a href="https://www.imath.kiev.ua/~skolyada/" target="_blank">Professor Sergiï Kolyada</a>. We published two articles </p>
        <br>
        <p> <span class="fa-stack">
         <i class="fas fa-circle fa-stack-2x text-primary" style="color: #e25440;"></i>
            <a href="https://arxiv.org/pdf/1509.08813.pdf" target="_blank"><i class="fas fa-file-pdf fa-stack-1x fa-inverse"></i></a>
        </span>Wen Huang, Danylo Khilko, Sergii Kolyada, Guohua Zhang. <em>Dynamical compactness and sensitivity.</em> Journal of Differential Equations 260(9):6800–6827
            <br>
        </p>
        </br>
        <p> <span class="fa-stack">
            <i class="fas fa-circle fa-stack-2x text-primary" style="color: #e25440;"></i>
            <a href="https://arxiv.org/pdf/1605.05851.pdf" target="_blank"><i class="fas fa-file-pdf fa-stack-1x fa-inverse"></i></a>
        </span>Wen Huang, Danylo Khilko, Sergiĭ Kolyada, Alfred Peris & Guohua Zhang. <em>Finite Intersection Property and Dynamical Compactness.</em> Journal of Dynamics and Differential Equations 30, pages 1221–1245(2018)
                <br>
        </p>
        </br>
            I presented the results in the Matej Bel University, Banska Bystrica, Slovakia (August 2016) and during the poster session of the 13th winter school in Dynamical Systems of the DANCE Spanish network (January 2016).
               </div>
           </div>
       </li>
       <li class="timeline-inverted">
           <div class="timeline-image">
               <img class="img-me" src="images/4.jpg" alt="">
           </div>
           <div class="timeline-panel">
               <div class="timeline-body">
        <p>During my internship at the Institute of Science and Technology in 2016 (scholarship: OeAD Sonderstipendien, financed by IST Austria, awarded by OeAD-GmbH)
            I worked on Cryptography project with Professor Krzysztof Pietrzak and contributed to
                   <br>
        </p>
                   </br>
        <p> <span class="fa-stack">
         <i class="fas fa-circle fa-stack-2x text-primary" style="color: #e25440;"></i>
            <a href="https://eprint.iacr.org/2017/893.pdf" target="_blank"><i class="fas fa-file-pdf fa-stack-1x fa-inverse"></i></a>
            </span>Hamza Abusalah, Joël Alwen, Bram Cohen, Danylo Khilko, Krzysztof Pietrzak and Leonid Reyzin. <em>Beyond Hellman’s Time-Memory Trade-Offs with Applications to Proofs of Space. </em>
            Conference: International Conference on the Theory and Application of Cryptology and Information Security.
        </p>

               </div>
           </div>
       </li>
       <li class="timeline-inverted">
           <div class="timeline-image">
               <img class="img-me" src="images/3.jpg" alt="">
           </div>
           <div class="timeline-panel">
               <div class="timeline-body">
            In 2013-2018 I taught in a variety of math olympiad training camps and summer schools and was a jury and problem selection committee member of Ukrainian and International mathematical competitions.
                   My problems in Eucledian geometry were many times proposed at the mathematical contests including the <a href="https://artofproblemsolving.com/community/c6h1112748p5079655" target="_blank">IMO 2015</a>!
               </div>
           </div>
       </li>
       <li class="timeline-inverted">
           <div class="timeline-image">
               <img class="img-me" src="images/6.jpg" alt="">
           </div>
           <div class="timeline-panel">
               <br class="timeline-body">
                   <p> I am the author of several research articles in Eucledean geometry:
                   </br>
                   </p>
                 <p> <span class="fa-stack">
                 <i class="fas fa-circle fa-stack-2x text-primary" style="color: #e25440;"></i>
                    <a href="https://jcgeometry.org/Articles/Volume3/JCG2014V2pp35-42.pdf" target="_blank"><i class="fas fa-file-pdf fa-stack-1x fa-inverse"></i></a>
                 </span>Danylo Khilko. <em>Some properties of intersection points of Euler line and orthotriangle. </em> Journal of Classical Geometry. Volume 3 (2014), 35-42.
                     <br>
                 </p>
                <p> <span class="fa-stack">
                 <i class="fas fa-circle fa-stack-2x text-primary" style="color: #e25440;"></i>
                    <a href="files/2orthocenters.pdf" target="_blank"><i class="fas fa-file-pdf fa-stack-1x fa-inverse"></i></a>
                </span>Danylo Khilko. <em>About the midpoints of altitudes in triangle.</em> In the world of mathematics. Volume 20, no. 4 (2014), 34-44. (Ukrainian)</p>
                <p> <span class="fa-stack">
                 <i class="fas fa-circle fa-stack-2x text-primary" style="color: #e25440;"></i>
                    <a href="files/FSDK-final.pdf" target="_blank"><i class="fas fa-file-pdf fa-stack-1x fa-inverse"></i></a>
                </span>Danylo Khilko and Francesco Sala. <em>The Line Joining Conjugated Conjugances. </em> Never published preprint.</p>


               <p>And in popular math:</p>

                <p> <span class="fa-stack">
                 <i class="fas fa-circle fa-stack-2x text-primary" style="color: #e25440;"></i>
                    <a href="files/main.pdf" target="_blank"><i class="fas fa-file-pdf fa-stack-1x fa-inverse"></i></a>
                </span>Danylo Khilko and Anastasiia Kucherenko. <em>Markov Chains and Shuffling of a Deck of Playing Cards. Volume 24 (2018), 64-73. (Ukrainian)</em>  </p>
                </p>
               </div>
           </div>
       </li>
  </ul>
</body>
</html>