<!DOCTYPE html>
<br lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<br>
<p>
        After graduating from the Ecole normale supérieure in Paris with Master degree in Mathematics I started to work in Quantitative Research at Qube Research and Technologies.
    QRT is a quantitative and systematic investment manager with offices in Hong Kong, London, Mumbai and Paris. You can visit its <a href="https://www.qube-rt.com/">website</a>.

      <br>
          </p>
        </br>
<p>
    Throughout the years I acquired strong mathematical base. I am a former IMO participant winning silver medals in the IMO 2012 and IMO 2013.
    During the last years of studies in Paris I have been mainly focusing on Probability Theory, Stochastic Processes and Data Science. My full CV can be found here.
 <br>
 </p>
</br>

<p>I used to work on several research projects in Topological Dynamics with Professor Sergiï Kolyada. We published two articles </p>

<p> <span class="fa-stack">
 <i class="fas fa-circle fa-stack-2x text-primary"></i>
    <a href="https://arxiv.org/pdf/1509.08813.pdf" target="_blank"><i class="fas fa-file-pdf fa-stack-1x fa-inverse"></i></a>
    </span>Wen Huang, Danylo Khilko, Sergii Kolyada, Guohua Zhang. Dynamical compactness and sensitivity. Journal of Differential Equations 260(9):6800–6827 (arxiv)
    <br>
</p>
</br>
<p> <span class="fa-stack">
 <i class="fas fa-circle fa-stack-2x text-primary"></i>
    <a href="https://arxiv.org/pdf/1605.05851.pdf" target="_blank"><i class="fas fa-file-pdf fa-stack-1x fa-inverse"></i></a>
    </span>Wen Huang, Danylo Khilko, Sergiĭ Kolyada, Alfred Peris & Guohua Zhang. Finite Intersection Property and Dynamical Compactness. Journal of Dynamics and Differential Equations 30, pages 1221–1245(2018) (arxiv)
    <br>
</p>
</br>

<p>
    I presented the results in the Matej Bel University, Banska Bystrica, Slovakia (August 2016) and during the poster session of the 13th winter school in Dynamical Systems of the DANCE Spanish network (January 2016).
    <br>
</p>
</br>
<p>During my internship at the Institute of Science and Technology in 2016 (scholarship: OeAD Sonderstipendien, financed by IST Austria, awarded by OeAD-GmbH)
    I worked on Cryptography project with Professor Krzysztof Pietrzak and contributed to
    <ul>
        <li> Hamza Abusalah, Joël Alwen, Bram Cohen, Danylo Khilko, Krzysztof
        Pietrzak and Leonid Reyzin. Beyond Hellman’s Time-Memory Trade-Offs with Applications to Proofs of Space.
        Conference: International Conference on the Theory and Application of Cryptology and Information Security.
        </li>
    </ul>

</p>
<p>
    In 2013-2018 I taught in a variety of math olympiad training camps and summer schools and was a jury and problem selection committee member of Ukrainian and International mathematical competitions.
    My problems in Eucledian geometry were many times proposed at the mathematical contests including the IMO 2015!
<br>
</p>
</br>
<p>
    I am the author of several research articles in Eucledean geometry:
   <ul>
        <li>Danylo Khilko. Some properties of intersection points of Euler line and orthotriangle. Journal of Classical Geometry. Volume 3 (2014), 35-42. </li>
        <li>Danylo Khilko. About the midpoints of altitudes in triangle. In the world of mathematics. Volume 20, no. 4 (2014), 34-44. (Ukrainian)</li>
        <li>Danylo Khilko and Francesco Sala. The Line Joining Conjugated Conjugances. Never published preprint.</li>
    </ul>

And in popular math:

<ul>
    <li>Danylo Khilko and Anastasiia Kucherenko. Markov Chains and Shuffling of a Deck of Playing Cards. Volume 24 (2018), 64-73. (Ukrainian) </li>
</ul>

</p>

</body>
</html>