<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="content-wrapper">
      <div class="content-wrapper projects hidden">
        <div class="content-wrapper__inner">
          {{ content }}
        </div>

        {% include footer.html %}
      </div>
      
      <div class="content-wrapper pubs hidden">
        <div class="content-wrapper__inner">
          {% include about.html %}
        </div>

      </div>
    </div> <!--close content wrapper-->
  </body>
</html>
